@font-face {font-family: "iconfont";
  src: url('./iconfont.eot?t=1572070853382'); /* IE9 */
  src: url('./iconfont.eot?t=1572070853382#iefix') format('embedded-opentype'), /* IE6-IE8 */
  /* url('data:application/x-font-woff2') format('woff2'), */
  url('./iconfont.woff?t=1572070853382') format('woff'),
  url('./iconfont.ttf?t=1572070853382') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  url('./iconfont.svg?t=1572070853382#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-changyonglogo40:before {
  content: "\e722";
}

.icon-My:before {
  content: "\e615";
}

.icon-shaixuan:before {
  content: "\e61e";
}

.icon-drop-down:before {
  content: "\e61f";
}

.icon-faxian:before {
  content: "\e601";
}

.icon-sousuo:before {
  content: "\e613";
}

.icon-tubiao_dingdan:before {
  content: "\e631";
}

.icon-dingwei-xianxing:before {
  content: "\e62c";
}

